body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #F2F2F2;
  /*height: 100px;*/
  display: flex;                        /*Si se quiere utilizar justify primero tenemos que poner un display: flex;*/
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav {
  height: 84px;
  display: flex;
  align-items: center;
  /*float: right;*/
  /*position: absolute;
  right: 0;*/
}

nav ul {
  display: flex;      /*Acomodamos los elementos uno al costado del otro*/
}

nav li {
  list-style: none;      /*Esto hace que no tenga ningun tipo de estilo las listas*/
  /*margin: 0 10px;*/
  font-size: 20px;
  color: black;
}

nav li::after {
  content: '|';
  display: inline-block;        /*Para poner margenes a los elementos ocupamos el display: inline block;*/
  margin: 0 20px;
}

nav li:last-child::after {      /*Quitamos el content '|' del ultimo elemento */
  display: none
}

nav a {
  color: red;
  text-decoration: none;     /*Ningun tipo de decoration como subrayado*/
}

h1 {
  margin: 0;
  font-weight: 600;
}

.portada {
  /*border: 10px solid red;*/
  position: relative;
}

.portada .description {
  background: rgba(255, 255, 255, .8);      /*Esta da un color con la conbinacion de rojo, verde y azul con la transparencia que es .8*/
  /*opacity: .5;*/                  /*Forma de dar transparencia a un elemento*/
  position: absolute;         /*Si utilizamos una position: absolute esta se refiere con su padre relativo que seria .portada*/
  bottom: 30px;
  left: 20px;
  padding: 20px;
}

.blog {
  width: 1000px;
  margin: auto;     /*Forma de centrar elementos con un tamaño de ancho predefinido*/
}

.blog-items {
  display: flex;        /*Las imagenes estan una junto a la otra*/
  flex-wrap: wrap;      /*Cuando un elemento ya no tuvo espacion en la misma linea el siguiente elemento se pone en otra linea por debajo*/
  justify-content: space-between;
}

.blog-items h3 {
  font-weight: 600;
  margin: 10px 0;
}

.item-blog {            /*Le damos un tamaño definido a los items*/
  width: 300px;
}
