body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  background: #F2F2F2;
  /*height: 100px;*/
  display: flex;                        /*Si se quiere utilizar justify primero tenemos que poner un display: flex;*/
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 70px;
}

.header-right {
  height: inherit;        /*Hereda el tamaño de su elemento padre*/
  display: flex;
  align-items: center;
}

.header-right .button {
  margin-left: 5px;
}

.button {                 /*Estilo base del boton*/
  background: gray;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .2);
  /*border-bottom: 5px solid black;*/
  font-size: 14px;
  padding: 5px 10px 10px;
  border-radius: 5px;           /*Bordes redondeados*/
  text-decoration: none;
  color: white;
  transition: .2s;        /*Una transicion de .2 segundos*/
}

.button:active {            /*El boton cambiara de tamaño al darle clic*/
  transform: scale(.9);
}

.button.red {
  background: #ff4842;
}

nav {
  height: inherit;                      /*Hereda el tamaño de su elemento padre*/
  /*float: right;*/
  /*position: absolute;
  right: 0;*/
}

nav ul {
  display: flex;      /*Acomodamos los elementos uno al costado del otro*/
  margin: 0;
  height: inherit;
}

nav li {
  list-style: none;      /*Esto hace que no tenga ningun tipo de estilo las listas*/
  /*margin: 0 10px;*/
  color: black;
  height: inherit;
  display: flex;
  align-items: center;
}

nav li::after {
  content: '|';
  display: inline-block;        /*Para poner margenes a los elementos ocupamos el display: inline block;*/
}

nav li:last-child::after {      /*Quitamos el content '|' del ultimo elemento */
  display: none
}

nav a {
  color: #ff4842;
  text-decoration: none;     /*Ningun tipo de decoration como subrayado*/
  height: inherit;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  /*border-top: 5px solid transparent;*/
}

nav a:hover {                       /*:hover Solamente cuando el cursor este sobre el elemento se mostrara el estilo dentro*/
  /*box-shadow: lugar donde se ubica la sombra, x, y, difuminado, color;*/
  box-shadow: inset 0 5px 0 red !important;
  /*border-top: 5px solid #ff4842;*/
}

nav a.is-active {
  box-shadow: inset 0 5px 0 #7dcd40;
}

h1 {
  margin: 0;
  font-weight: 600;
}

.portada {
  /*border: 10px solid #ff4842;*/
  position: relative;
}

.portada .description {
  background: rgba(255, 255, 255, .8);      /*Esta da un color con la conbinacion de rojo, verde y azul con la transparencia que es .8*/
  /*opacity: .5;*/                  /*Forma de dar transparencia a un elemento*/
  position: absolute;         /*Si utilizamos una position: absolute esta se refiere con su padre relativo que seria .portada*/
  bottom: 30px;
  left: 20px;
  padding: 20px;
}

.blog {
  width: 1000px;
  margin: auto;     /*Forma de centrar elementos con un tamaño de ancho predefinido*/
}

.blog-items {
  display: flex;        /*Las imagenes estan una junto a la otra*/
  flex-wrap: wrap;      /*Cuando un elemento ya no tuvo espacion en la misma linea el siguiente elemento se pone en otra linea por debajo*/
  justify-content: space-between;
}

.blog-items h3 {
  font-weight: 600;
  margin: 10px 0;
}

.item-blog {            /*Le damos un tamaño definido a los items*/
  width: 300px;
}
